@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ford Light";
    src: url("../fonts/FordAntennaWGL-Light.otf");
    src: local("FordAntennaWGL-Light"), url("../fonts/FordAntennaWGL-Light.otf?#iefix") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Ford regular";
    src: url("../fonts/FordAntennaWGL-Regular.otf");
}

@font-face {
    font-family: "Ford medium";
    src: url("../fonts/FordAntennaWGL-Medium.otf");
}

@font-face {
    font-family: "Ford Bold";
    src: url("../fonts/FordAntennaCondWGL-Bold.otf");
}

* {
    font-family: "Ford regular";
}